body{
  margin: 0 25%;
 
}

.fa-utensils{font-size: 60px; 
 
}
   

h1 {
    font-family: 'Island Moments', cursive;
    font-size: 40px;
    display: inline;
    position: relative;
    left: 8%;
   
 
   

    }
     
p   {font-size: small;
    display: inline;
    position: relative;
    left: 7%;
    top: 20%;
  
    color: green;
    }

    #main {
      display:grid;
      grid-template-columns: repeat(5,25px);
      justify-content: end;
position: relative;
top: 50%;



}


